# Bytecode and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python virtual environment
.venv/

# Vscode files
.vscode/

# Secrets or environment-specific configs
.env
docker/.env

# Program input/output files
config/config.yaml
media/
publish/
tests/
models/

# Generated Docker logs and data
docker/*.log
docker/tmp/

# Scripts logs and data
scripts/*.log
scripts/tmp/

# Git files (if not needed inside the image)
.git/
.gitignore